### Problem Statement: Build a classifier which can determine whether a customer will leave or not using Neural networks

In [2]:
import keras

Using TensorFlow backend.

In [1]:
!pip install --upgrade numpy

Collecting numpy
  Downloading https://files.pythonhosted.org/packages/ce/61/be72eee50f042db3acf0b1fb86650ad36d6c0d9be9fc29f8505d3b9d6baa/numpy-1.16.4-cp37-cp37m-win_amd64.whl (11.9MB)
Installing collected packages: numpy
  Found existing installation: numpy 1.15.1
    Uninstalling numpy-1.15.1:
      Successfully uninstalled numpy-1.15.1
Successfully installed numpy-1.16.4

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Reading Dataset

In [5]:
df = pd.read_csv('bank.csv')

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## dropping the columns RowNumber,customerID,surname as these are unique identifiers of the customer

In [7]:

df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Applying label encoding for columns Geography and Gender

In [20]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [12]:
le=LabelEncoder()

In [14]:
df['Geography']=le.fit_transform(df['Geography'])
df['Gender']=le.fit_transform(df['Gender'])

In [15]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

### Onehot encoding Column 'geography'

In [16]:
df=pd.get_dummies(df,columns=['Geography'])
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_0,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

### split features and target

In [17]:
x=df.drop('Exited',axis=1)
y=df['Exited']

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

### Normalise the data

In [21]:
sc=StandardScaler()

In [22]:
X_train=sc.fit_transform(x_train)
X_test=sc.fit_transform(x_test)

### Load tensorflow

In [23]:
from keras.models import Sequential
from keras.layers import Dense

In [24]:
# create first model
model = Sequential()
#Adding 3 dense layers
model.add(Dense(12, input_dim=12,init='uniform',activation ='relu'))
model.add(Dense(8,init='uniform',activation ='relu'))
model.add(Dense(1,init='uniform',activation ='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# Fit the model
model.fit(X_train, y_train, nb_epoch=20, batch_size=10,  verbose=2)

WARNING:tensorflow:From C:\Users\kkishore\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

C:\Users\kkishore\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(12, input_dim=12, activation="relu", kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\kkishore\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(8, activation="relu", kernel_initializer="uniform")`
  """
C:\Users\kkishore\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`

C:\Users\kkishore\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  # Remove the CWD from sys.path while we load stuff.

WARNING:tensorflow:From C:\Users\kkishore\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/20
 - 1s - loss: 0.4801 - acc: 0.7974
Epoch 2/20
 - 1s - loss: 0.4263 - acc: 0.7986
Epoch 3/20
 - 1s - loss: 0.4210 - acc: 0.7986
Epoch 4/20
 - 1s - loss: 0.4170 - acc: 0.8210
Epoch 5/20
 - 1s - loss: 0.4138 - acc: 0.8284
Epoch 6/20
 - 1s - loss: 0.4118 - acc: 0.8309
Epoch 7/20
 - 1s - loss: 0.4104 - acc: 0.8321
Epoch 8/20
 - 1s - loss: 0.4089 - acc: 0.8339
Epoch 9/20
 - 1s - loss: 0.4075 - acc: 0.8339
Epoch 10/20
 - 1s - loss: 0.4069 - acc: 0.8340
Epoch 11/20
 - 1s - loss: 0.4059 - acc: 0.8347
Epoch 12/20
 - 1s - loss: 0.4044 - acc: 0.8363
Epoch 13/20
 - 1s - loss: 0.4022 - acc: 0.8366
Epoch 14/20
 - 1s - loss: 0.4011 - acc: 0.8363
Epoch 15/20
 - 1s - loss: 0.3993 - acc: 0.8380
Epoch 16/20
 - 1s - loss: 0.3982 - acc: 0.8369
Epoch 17/20
 - 1s - loss: 0.3969 - acc: 0.8360
Epoch 18/20
 - 1s - loss: 0.3967 - acc: 0.8384
Epoch 19/20
 - 1s - loss: 0.3960 - acc: 0.8390
Epoch 20/20
 - 1s - loss: 0.3952 - acc: 0.8391

In [26]:
#predecting the results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[2272,  101],
       [ 397,  230]], dtype=int64)

In [27]:
from sklearn.metrics import accuracy_score

In [29]:
score=accuracy_score(y_test, y_pred)
score

0.834