In [27]:
# To enable plotting graphs in Jupyter notebook
%matplotlib inline

In [28]:
import numpy as np   

# Import Linear Regression machine learning library
from sklearn.linear_model import LinearRegression

# to handle data in form of rows and columns 
import pandas as pd    
import math

# importing ploting libraries
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')

#importing seaborn for statistical plots
import seaborn as sns

In [66]:
# reading the CSV file into pandas dataframe
dfpro = pd.read_csv('Project 2 - Statistical Learning.csv')

# Q1 Find the mean of old scheme and new scheme column.

In [67]:
dfpro[['Old Scheme (in thousands)', 'New Scheme (in thousands)']].mean()

Old Scheme (in thousands)    68.033333
New Scheme (in thousands)    72.033333
dtype: float64

# Q2 Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

In [ ]:
# Perform a 2 sample T test 

# The null hypothesis state that the two populations being tested have no statistically significant difference. The alternate hypothesis will state that there is one present.

# Null Hypothesis : The Average of old scheme and new scheme are same
# Alternative Hypothesis : The Average of old scheme and new scheme are different and hence the scheme has an impact of Sales

In [68]:
dfpro

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [69]:
Old_Mean = dfpro[['Old Scheme (in thousands)',]].mean()
Old_Mean

Old Scheme (in thousands)    68.033333
dtype: float64

In [70]:
New_Mean = dfpro[['New Scheme (in thousands)',]].mean()
New_Mean

New Scheme (in thousands)    72.033333
dtype: float64

In [71]:
Old_SD = dfpro[['Old Scheme (in thousands)']].std()
Old_SD

Old Scheme (in thousands)    20.45598
dtype: float64

In [72]:
New_SD = dfpro[['New Scheme (in thousands)']].std()
New_SD

New Scheme (in thousands)    24.062395
dtype: float64

In [73]:
Old_Var = Old_SD*Old_SD
Old_Var

Old Scheme (in thousands)    418.447126
dtype: float64

In [74]:
New_Var = New_SD*New_SD
New_Var

New Scheme (in thousands)    578.998851
dtype: float64

In [84]:
n1 = len.(dfpro.SALESPERSON)

SyntaxError: invalid syntax (<ipython-input-84-787f9b032571>, line 1)

In [75]:
s = np.sqrt((Old_Var + New_Var)/2)

In [76]:
T1 = (Old_Mean - New_Mean)/s*np.sqrt(2/N)
T1

NameError: name 'N' is not defined