In [27]:
# To enable plotting graphs in Jupyter notebook
%matplotlib inline

In [86]:
import numpy as np   

# Import Linear Regression machine learning library
from sklearn.linear_model import LinearRegression

# to handle data in form of rows and columns 
import pandas as pd    
import math

# importing ploting libraries
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')

#importing seaborn for statistical plots
import seaborn as sns

# import tstats
from scipy.stats import ttest_ind

In [66]:
# reading the CSV file into pandas dataframe
dfpro = pd.read_csv('Project 2 - Statistical Learning.csv')

# Q1 Find the mean of old scheme and new scheme column.

In [67]:
dfpro[['Old Scheme (in thousands)', 'New Scheme (in thousands)']].mean()

Old Scheme (in thousands)    68.033333
New Scheme (in thousands)    72.033333
dtype: float64

# Q2 Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?
# Q3 What conclusion does the test (p-value) lead to?

In [99]:
# Perform a 2 sample T test 

# The null hypothesis state that the two populations being tested have no statistically significant difference. The alternate hypothesis will state that there is one present.

# Null Hypothesis : The old scheme and new scheme produce same results.
# Alternative Hypothesis : The old scheme and new scheme are different and hence the scheme has an impact of Sales

In [68]:
dfpro

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [94]:
from scipy import stats

In [92]:
Olddf = dfpro['Old Scheme (in thousands)']
Newdf = dfpro['New Scheme (in thousands)']

In [98]:
ttest = stats.ttest = ttest_ind(Olddf, Newdf, equal_var=False)
ttest

Ttest_indResult(statistic=-0.6937067608923764, pvalue=0.4907066557404972)

In [100]:
# p value > 0.05, hence Null hypothesis is accepted. There is no significant difference between old and new scheme.

# Q4
    # The probability of a type 1 error?
    # What is the p- value of the hypothesis test if we test for a difference of $5000?
    # Power of the test

In [ ]:
# Null Hypothesis: The Sales has not increased by £ 5000 in the scheme compared to the old scheme
# Alternate Hypothesis : The Sales has increased by £ 5000 in the scheme compared to the old scheme

In [102]:
from scipy.stats import ttest_rel
Two_Sample=ttest_rel(Olddf,Newdf)
Two_Sample

Ttest_relResult(statistic=-1.5559143823544377, pvalue=0.13057553961337662)

In [ ]:
# p value > 0.05, hence Null hypothesis is accepted. The Sales have not increased by £ 5000 by introducing the new scheme.